@{
    ViewBag.Title = "Контакты";
}

<address>
    Республика Беларусь,<br />
    Гомель, ГГТУ Сухого,<br />
    ИТ-32, Шаповал Е. Ю.<br />
    <abbr title="Phone">Телефон:</abbr>
    +375259401396
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:shapoval.evgeny@mail.ru">shapoval.evgeny@mail.ru</a><br />
</address>